<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TaoBaoGuanJia.UserSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite"/>
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
    <TaoBaoGuanJia.UserSetting>
      <setting name="IsExportMobileDesc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsUseSalePrice" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsClearAssociated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsSaveIdToOutId" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsDownPic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsClearAutoDeliveryDesc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Province" serializeAs="String">
        <value />
      </setting>
      <setting name="City" serializeAs="String">
        <value />
      </setting>
      <setting name="ContentHeader" serializeAs="String">
        <value />
      </setting>
      <setting name="FileSavePath" serializeAs="String">
        <value />
      </setting>
    </TaoBaoGuanJia.UserSetting>
  </userSettings>
</configuration>
